<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data
            android:name="firebase_database_url"
            android:value="https://your-firebase-database-url-debug"/>
        <meta-data
            android:name="firebase_storage_url"
            android:value="https://your-firebase-storage-url-debug"/>
    </application>
</manifest>
